EXPO_PUBLIC_SUPABASE_URL=https://ciouhmiaehqzitfhdpwq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpb3VobWlhZWhxeml0ZmhkcHdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5ODczNzksImV4cCI6MjA5NTU2MzM3OX0.LKlOgH32FaRRKejJ6AR3wZQ60LoBemX8ZGc4h44W6Ic
